$background-dark:#485d5b;
$background-light:#FFF;
$background-blue:#89acb1;
$background-blue-tr:rgba(137, 172, 177, 0.8);


$font-Tan: 'Young Serif', serif;
$font-Alice:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

$font-size-h4:20px;
$font-size-p: 15px;
$font-size-h2:45px;