<template id="insertOptions">
    <select class="form-select">
        <option value="">Seleziona categoria...</option>

        <optgroup label="Costume">
            <option value="swim_relax">Relax</option>
            <option value="swim_training">Sport</option>
            <option value="swim_extreme">Extreme</option>
        </optgroup>

        <optgroup label="Cappello">
            <option value="cap">Cappelli</option>
        </optgroup>

        <optgroup label="Pareo">
            <option value="sarong">Pareo</option>
        </optgroup>
    </select>
</template>