<!--Sections to recall for page logIn-->



<!--buttom riservate area-->
<template id="buttomLink">
    <a class="btn btn-link" href="insert.html">Area Riservata</a>
</template>







<!--standard Autentication -->

<!--log in did all controll and client registration -->
<template id="registrationTemplate">
    <h1 class="title">Registrazione:</h1>
    <form class="p-4 border rounded bg-light">
        <div class="mb-3">
            <label for="exampleDropdownFormEmail1" class="form-label">Nome</label>
            <input type="name" class="form-control" id="exampleDropdownFormName" placeholder="Luca">
        </div>
        <div class="mb-3">
            <label for="exampleDropdownFormEmail1" class="form-label">Cognome</label>
            <input type="surname" class="form-control" id="exampleDropdownFormSurname" placeholder="Rossi">
        </div>
        <div class="mb-3">
            <label for="exampleDropdownFormEmail1" class="form-label">Telefono</label>
            <input type="phone" class="form-control" id="exampleDropdownFormPhone" placeholder="+39 3485880000">
        </div>
            <div class="mb-3">
                <label for="exampleDropdownFormEmail1" class="form-label">Email</label>
                <input type="email" class="form-control" id="exampleDropdownFormEmail1" placeholder="email@example.com">
            </div>
            <button type="submit" id ="submitRegistration" class="btn btn-primary w-100">salva</button>
            <hr class="my-4">
            <a class="d-block mb-2" href="#">Già registrato? Accedi</a>
            <a class="d-block" href="#">Password dimenticata?</a>
        </form>
        </div>
</template>

<!--template creation password -->
<template id="newPasswordTemplate">
    <h1 class="title">Crea una password:</h1>
    <form class="p-4 border rounded bg-light">
        <div class="mb-3">
            <label for="exampleDropdownFormPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleDropdownFormPassword1" placeholder="Password">
        </div>
        <div class="mb-3">
            <label for="exampleDropdownFormPassword2" class="form-label">Ripeti Password</label>
            <input type="password" class="form-control" id="exampleDropdownFormPassword2" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-primary w-100">salva</button>
    </form>
</template>


<!--New autentification-->