@use "variables" as vars;
//universal component

//titles on sections
.title_section {
    font-family: vars.$font-Tan;
    color: vars.$background-dark;
    text-align: center;
    margin-bottom: 10px;
}

//p bold strong
.p_bold {
    margin-bottom: 10px;
    font-family: vars.$font-Tan;
}

//p not bold
.p_alice {
    font-family: vars.$font-Alice;
    margin-bottom: 10px;
}

//container full imagine
.full_img {
    width: 60%;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    margin-bottom: 40px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    position: relative;

    img {
        object-fit: contain;
        width: 100%;
    }

    .text_section {
        position: absolute;
        top: 40%;
        background-color: vars.$background-blue-tr;

        p {
            padding-right: 30px;
            padding-left: 30px;
            color: vars.$background-light;
            padding-top: 50px;
            padding-bottom: 50px;
        }
    }
}

//small image and description
.img_description {
    display: flex;
    align-items: center;
    justify-content: space-around;

    .img_small {
        width: 40%;
        margin: 0 auto;
        overflow: hidden;
        margin-bottom: 40px;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);

        img {
            object-fit: cover;
            width: 100%;
        }
    }

    .text {
        width: 40%;
    }
}

//section surf
#surf {
    .title_section {
        padding-top: 20px;
    }

    .p_bold {
        padding-bottom: 15px;
        text-align: center;
    }

    .video_container {
        width: 60%;
        width: 80%;
        margin: 0 auto;
        overflow: hidden;
        position: relative;
        margin-bottom: 40px;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);

        img {
            object-fit: cover;
            max-width: 100%;
        }
    }

    .p_alice {
        margin-left: 10%;
        margin-right: 10%;
        font-family: vars.$font-Alice;
    }
}

//section clothe(1)
#img_clothe {
    margin-top: 60px;
}

// section vision_mission
#vision_mission {
    padding-top: 60px;
    padding-bottom: 30px;

    p {
        padding-right: 30px;
        padding-left: 30px;
    }
}

//section make_clothes(2)
#work_clothes {
    h2 {
        padding-top: 60px;
    }

    .p_alice {
        padding: 30px;
    }

    .img_description {
        .text {
            padding-right: 30px;
        }
    }
}

//dropdown button TREND (link uomo/donna)
.dropdown {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-decoration: underline;

    .btn.btn-secondary.dropdown-toggle {
        background-color: transparent;
        border: none;
        color: vars.$background-dark;
        font-family: vars.$font-Tan;
    }

    &:hover {
        color: vars.$background-blue;
    }

    .dropdown-menu:hover {
        background-color: vars.$background-blue;
    }
}





//-----------------------MEDIA QUERY -------


//PHONE 

/* Responsive */
@media (max-width: 400px) {
    //container full imagine
.full_img {
    .text_section{
        height: 100%;
        top: 0%;

        p {
            padding:auto;
            color: vars.$background-light;
        }
    }
}


//small image and description
.img_description {
    display: block;
    align-items: center;
    justify-content: center;

    .img_small {
        width: 70%;
        
    }

    .text {
        width: 80%;
        text-align: center;
        margin: auto;
        padding: auto;
    }
}

.title_section{
    font-size: 20px;
    margin-right: 5px;
    margin-left: 5px;
}

}






//PC

/* Responsive */
@media (min-width: 900px) {
    .title_section{
        font-size: vars.$font-size-h2;
        
    }
    p{
        font-size: vars.$font-size-h3;
    }
}