@use 'variables' as vars;


//dropdown style 

#dropdwons{
    display: flex;
    flex-wrap: wrap;
    gap:30px;
    align-items: center;
    margin: 30px;

.dropdown{
    
    font-family: vars.$font-Alice;
    margin-top: 0;
    button{
        background-color:vars.$background-blue-tr;
        font-family: vars.$font-Tan;
        
    }
    .dropdown-menu{
        padding: 0px;
    .dropdown-item{
        border: 1px solid vars.$background-blue;
    }
    
    .dropdown-submenu[data-show ="none"]{
        display: none;
    }
    .dropdown-submenu[data-show ="see"]{
        display: block;
        background-color:beige ;
    }
}
}
}