@use "variables" as vars;

//universal component

//dropdown button TREND (link uomo/donna)
.dropdown {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-decoration: underline;

    .btn.btn-secondary.dropdown-toggle {
        background-color: transparent;
        border: none;
        color: vars.$background-dark;
        font-family: vars.$font-Tan;
    }

    &:hover {
        color: vars.$background-blue;
    }

    .dropdown-menu:hover {
        background-color: vars.$background-blue;
    }
}

//imagines
.images {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    margin-top: 25px;
    margin-bottom: 45px;

    .image_container {
        width: 25%;
        height: 40%;

        img {
            object-fit: cover;
            max-width: 85%;
            height: auto;
        }
    }
}

//titles on sections
.title_section {
    font-family: vars.$font-Tan;
    color: vars.$background-dark;
    text-align: center;
    margin-bottom: 10px;
}

//p bold strong
.p_bold {
    text-align: center;
    margin-bottom: 10px;
    font-family: vars.$font-Tan;
}

body {
    .video_container {
        width: 60%;
        width: 100%;
        margin: 0 auto;
        overflow: hidden;
        position: relative;
        margin-bottom: 40px;

        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);

        video {
            width: 100%;
            height: auto;
            display: block;
            object-fit: cover;
        }

        h3 {
            font-family: vars.$font-Tan;
            color: vars.$background-light;
            position: absolute;
            text-align: center;
            margin: auto;
            top: 25%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 90%;
        }
    }

    //elaganza section
    #elegance {
        a {
            font-family: vars.$font-Tan;
            color: vars.$background-dark;
        }

        p {
            text-align: center;
            margin-bottom: 10px;
            font-family: vars.$font-Alice;
        }
    }

    //section forza
    #strong {
        .video_container {
            width: 80%;
            box-shadow: none;
        }
    }

    //section passione
    #passion {
        .images {
            .image_container_blu {
                margin-top: 25px;
                max-width: 40%;
                height: auto;
                padding-bottom: 25px;
                border: 25px solid vars.$background-blue;
                display: flex;
                align-items: center;
                flex-direction: column;

                img {
                    object-fit: cover;
                    width: 100%;
                    height: auto;
                    margin-bottom: 10px;
                }
            }
        }
    }

    //kids section
    #kids {
        .video_container {
            padding-top: 50px;
            padding-bottom: 40px;

            img {
                object-fit: cover;
                max-width: 100%;
                position: relative;
            }

            h2 {
                font-family: vars.$font-Tan;
                font-size: vars.$font-size-h2;
                color: vars.$background-dark;
                position: absolute;
                text-align: center;
                margin: auto;
                top: 28%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 90%;
            }
        }

        .p_bold {
            text-align: left;
            margin-right: 45px;
            margin-left: 45px;
        }
    }
}




/* Responsive */
@media (max-width: 400px) {

    //text dropdowns
    .dropdown {
        .btn.btn-secondary.dropdown-toggle {
            font-size: vars.$font-size-p;
        }
    }

    // text kids
    #kids {
        .video_container {
            #titleKids {
                font-size: vars.$font-size-h3;
            }
            
        }
    }
}










/* Responsive */
/*pc */
@media (min-width: 900px) {

    //text dropdowns
    .dropdown {
        .btn.btn-secondary.dropdown-toggle {
            font-size: vars.$font-size-h4;
        }
    }

    // text kids
    #kids {
        .video_container {
            #titleKids {
                font-size: 5cm;
            }
            
        }
    }

    p{
        font-size: vars.$font-size-h4;
    }
    .title_section{
        font-size: 35px;
    }
    h3{
        font-size: 45px;
    }
}