//style menu

@use 'variables' as vars;

.blue_bar{
    height: 4.5px;
    margin:10px;
    background-color: vars.$background-blue;
}

#swim_suit[data-menu="close"],
#accessories[data-menu="close"] {
    display: none !important;
}

#swim_suit[data-menu="open"],
#accessories[data-menu="open"] {
    display: block !important;
}

body{

    .black-over{
        background-color: vars.$background-dark;
        padding-top: 0.5px;
        padding-bottom:0.5px;
        
        width: 100%;
        h4{
            text-align: center;
            color:vars.$background-light;
            font-family: vars.$font-Tan;
            font-size: vars.$font-size-h4;
        }
    }
    .gray-over{
        background-color: vars.$background-blue;
        width: 100%;
        padding-top:1px ;
        padding-bottom:1px;
    h1{
        color:vars.$background-light;
        font-family: vars.$font-Tan;
        text-align: center;
    }
        
    }
    //nav style big screen
    .nav{
            display: flex;
            align-items: center;
            justify-content: space-around;
            margin-top: 20px;

        .nav-item{
            a{
                color:vars.$background-dark;
                font-family: vars.$font-Tan;
                font-size:vars.$font-size-h4;
                
            }
            .nav-link.active:hover{
                text-decoration: underline;
                color: vars.$background-blue;

            }
            .nav-link.disabled{
                text-decoration: underline;
                color: vars.$background-blue;
            }
            //swim suit 
            .btn.btn-primary{
                background-color: transparent;
                border: none;

                &:hover{
                    color: vars.$background-blue;
                    text-decoration: underline;
                }
            }

        }
    }

    
    //add part about section dopdown 
    .collapse.custom-collapse{
        .card.card-body{
                .titleDropdown{
                        margin-bottom: 30px;
                        padding-left: 5px;
                    }
                h4{
                    color:vars.$background-dark;
                    font-family: vars.$font-Tan;
                    font-size: vars.$font-size-h4;
                    padding-left: 20px;
                }
                .type{
                    max-width:90%;
                    display: grid;
                    grid-template-columns: 150px 1fr 105px;
                    text-align: left;
                    gap:auto;
                    .p_bold{
                        text-align: left;
                    }
                    a{
                        color:vars.$background-blue;
                        font-family: vars.$font-Tan;
                    }
                }
        }
    }
}

