@use "variables" as vars;

body {
    margin: 10px;

    #filterButton {
        font-family: vars.$font-Tan;
        font-size: vars.$font-size-h4;
        background-color: transparent;
        color: vars.$background-blue;
        text-decoration: underline;
        border: none;

        &:hover{
            color: vars.$background-dark;
        }
        &:checked{
            color: vars.$background-dark;
        }
    }

    #filter {
        display: flex;
        justify-content: center;

        #filterSection {
            background-color: vars.$background-blue-tr;
            align-items: center;

            h5 {
                color: vars.$background-light;
                font-family: vars.$font-Tan;
            }
        }

        .filter-btn {
            height: 2rem;
            width: 4rem;

            &:hover {
                background-color: vars.$background-dark;
            }
        }

    }

    //shop Template section
    #shopProductHTML {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        justify-content: center;
        align-items: center;
        text-align: center;

        .container {
            font-family: vars.$font-size-h4;
            font-size: medium;
            margin-top: 30px;
            background-color: rgb(236, 238, 246);
            height: 400px;
            width: 200px;
            transition: min-height 0.3s ease;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-self: center;
            box-shadow: 8px 8px 15px rgba(0,0,0,0.3); 
            
        
            &:hover {
            transform: scale(1.03);
    }
        }

        .imgContainer {
            padding: 10px;
            padding-top: 20px;
            width: 200px;
            height: 240px;
            overflow: hidden;
            border-radius: 8px;
            display: flex;
            align-items: center;


            img {
                object-fit: cover;
                object-position: center;
                width: 100%;
                height: 100%;
                display: block;
                &:hover{
                    transform: scale(1.3);
                    transition: transform 2s ease;
                }
            }
        }

        h2,
        h4 {
            text-decoration: solid;
            font-family: vars.$font-Tan;
            color: vars.$background-dark;

        }

        h2 {
            font-size: 20px;
        }

        h4 {
            font-size: 18px;
        }

        .colorshop {
            cursor: pointer;
            display: flex;
            justify-content: center;
            margin-left: -16%;
            gap:10px;
            width:100%
    

        }

        #filterButton {
            font-size: 15px;
        }
    }
}



.sizeFiltersShop {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-bottom: 1px;


    .filter-btn {
        width: 2.3rem;
        height: 1.8rem;
        padding: 2px;
        margin: 2px;
        font-size: 15px;


        &[data-state = "unavailable"] {
            background-color: vars.$background-dark;
        }

        &[data-state = "available"] {
            background-color: rgb(231, 227, 227);
        }

    }

    
}



//data-state ="disable" 

//style color in the shop card
.check-shop-color{
    width: 1.3rem;
    height: 1.3rem;
    appearance: none;
    border-radius: 50%;
    display: block;
}

.form-check-input{
    width: 2rem;
    height: 2rem;
}

.check-shop-color ,.form-check-input{
    background-color: white;
    cursor: pointer;

    &:hover {
        border-color: black;
        transform: scale(1.1);
    }

    &[data-value="black"] {
        background-color: black;
    }

    &[data-value="green"] {
        background-color: green;
    }

    &[data-value="pink"] {
        background-color: pink;
    }

    &[data-value="blue"] {
        background-color: blue;
    }

    &[data-value="red"] {
        background-color: red;
    }

    &[data-value="floral"] {
        background: vars.$background-floral;
    }

    &[data-value="multicolored"] {
        background: vars.$background-multicolored;
    }

    &:checked {
        border: 2px solid #3b82f6; // blu
        box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.4);
    }

    &:hover {
                    border-color: black;
                    transform: scale(1.1);
                }
}


.form-check-input.anable, .filter-btn.anable{
    border: 2px solid #3b82f6; // blu
        box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.4);
}

//style buttons 
#filterSave,.btn.btn-primary.w-100 {
            margin-top: 15px;
            font-family: vars.$font-Tan;
            background-color: vars.$background-dark;
            border-color: vars.$background-light;

            &:hover {
                border-color: vars.$background-blue;
                transform: scale(1.02);
            }
        }



