<!--standard menu-->
<div class="black-over">
    <h4>Meno plastica negli oceani.Più bellezza sulla pelle</h4>
</div>
<div class="gray-over">
    <h1>SUNNEE</h1>
</div>
<ul class="nav">
    <li class="nav-item">
        <a class="nav-link active" data-page="index.html" href="index.html">Home</a>
    </li>
    <li class="nav-item">
        <a class="btn btn-primary"  data-page="universal" href="#swim_suit" role="button"
            aria-expanded="false" aria-controls="swim_suit">Costumi</a>
    </li>
    <li class="nav-item">
        <a class="btn btn-primary"  data-page="universal" href="#accessories" role="button"
            aria-expanded="false" aria-controls="accessories">Accessori</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" data-page="aboutUs.html" href="aboutUs.html">Chi siamo</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" data-page="logIn.html" href="logIn.html">Accedi</a>
    </li>
</ul>


<div class="blue_bar"></div>
<div id="collapseMenu">
    <!--collapse section swim suit -->
    <div class="custom-collapse" id="swim_suit" data-menu="close">
        <div class="card card-body">
            <h4 class="titleDropdown">Tipologie</h4>
            <div class="type">
                <div>
                    <h4>
                        RELAX
                    </h4>
                </div>
                <div>
                    <p class="p_bold">
                        Lavorazioni eleganti, di pregevole fattura realizzate a mano
                        per un’estate da urlo!
                    </p>
                </div>
                <div>
                    <ul>
                        <li>
                            <a href="#" data-type="swimSuit-relax" data-gender ="man">
                                UOMO
                            </a>
                        </li>
                        <li>
                            <a href="#" data-type="swimSuit-relax" data-gender ="woman">
                                DONNA
                            </a>

                        </li>

                    </ul>
                </div>
            </div>

            <div class="type">
                <div>
                    <h4>
                        SPORT
                    </h4>
                </div>
                <div>
                    <p class="p_bold">
                        Tessuti elastici,confortevoli e duraturi, adattati a ogni tipo di sport acquatico.
                    </p>
                </div>
                <div>
                    <ul>
                        <li>
                            <a href="#" data-type="swimSuit-sport" data-gender="man">
                                UOMO
                            </a>
                        </li>
                        <li>
                            <a href="#" data-type="swimSuit-sport" data-gender="woman">
                                DONNA
                            </a>

                        </li>

                    </ul>
                </div>
            </div>

            <div class="type">
                <div>
                    <h4>
                        EXTREME
                    </h4>
                </div>
                <div>
                    <p class="p_bold">
                        Materiali ad alta resistenza, leggeri per agevolarti nei movimenti
                    </p>
                </div>
                <div>
                    <ul>
                        <li>
                            <a href="#" data-type="swimSuit-extreme" data-gender="man">
                                UOMO
                            </a>
                        </li>
                        <li>
                            <a href="#" data-type="swimSuit-extreme" data-gender="woman">
                                DONNA
                            </a>

                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <!--accessories -->

    <div class="custom-collapse" id="accessories" data-menu="close">
        <div class="card card-body">
            <h4 class="titleDropdown">Tipologie</h4>
            <div class="type">
                <div>
                    <h4>
                        CAPPELLI
                    </h4>
                </div>
                <div>
                    <p class="p_bold">
                        Design curato e materiali leggeri per completare ogni look sotto il sole.
                    </p>
                </div>
                <div>
                    <ul>
                        <li>
                            <a href="shop.html" data-type="cap" data-gender="unisex">
                                UNISEX
                            </a>
                        </li>

                    </ul>
                </div>
            </div>

            <div class="type">
                <div>
                    <h4>
                        PAREO
                    </h4>
                </div>
                <div>
                    <p class="p_bold">
                        Leggeri, versatili e perfetti per accompagnarti dal mare all’aperitivo.
                    </p>
                </div>
                <div>
                    <ul>
                        <li>
                            <a href="shop.html" data-type="sarong" data-gender="woman">
                                DONNA
                            </a>

                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>